   <nav>
        <div class="Logo">WEBSITE</div>
        <div class="menu">
               <a href="/home">HOME</a>
               <a href="/profile">PROFILE</a>
               <a href="/">LOGOUT</a>
            <a href="/register">REGISTER</a>
            <a href="/">LOGIN</a>
        </div>
    </nav>