<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/sample.css">
    <script src="sample.js"></script>
</head>
<body>
    <!-- <h1 color="white">Heloo</h1> -->
    <div class="full-page">
        <div class="navbar">
            <div id="heading">
                <h1 id="heading">KEC Elective Course Picker</h1>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='https://kongu.ac.in/index.php' target="_blank">About</a></li>
                    <li><a href='https://kongu.ac.in/contact.php' target="_blank">Contact Us</a></li>
                    <li><button class='loginbtn' onclick="window.open('sample.html','_self')" style="width:auto;">Log out</button></li>
                </ul>
            </nav>
        </div>
        <!-- <div id='login-form'class='login-page'> -->
            <div class="form-box">
                    <CENTER><h2 style="margin-top:25px;"><b>WELCOME!</b></h2></CENTER>
                    <button class="submit" style="margin-top:100px" onclick="confirm('Do you want to activate the access?')">Activate response</button><br>
                    <div><button class="submit" onclick="confirm('Do you want to deactivate the access?')">Deactivate response</button></div><br>
                    <div><button class="submit" onclick="window.open('/adduser')">Add user</button></div><br>
                    <div><button class="submit"onclick="window.open('addcourse.html')">Add course</button></div><br>
                    <div><button class="submit"onclick="window.open('/addfaculty')">Add Faculty</button></div><br>
            </div>
            </div>
</body>
</html>