<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro Page</title>
    <link rel="stylesheet" href="/css/sample.css">
    <script src="sample.js"></script>
</head>
<body>
    <div class="full-page">
        <div >
            <div class="navbar">
                <div>
                  <h1 style="color:white">KEC Elective Course Picker</h1>
                </div>
                <nav>
                    <ul id='MenuItems'>
                        <li><a href='https://kongu.ac.in/index.php' target="_blank">About</a></li>
                        <li><a href='https://kongu.ac.in/contact.php' target="_blank">Contact Us</a></li>
                        <li><button class='logoutbtn' onclick="windows.open('web.html')" style="width:auto;">Log Out</button></li>
                    </ul>
                </nav>
            </div>
           
        </div>
        <div class="form-box" ID="FI">
        <table style width="100%" style="color:white">
            <tr style="color:white" height="40">
              <th >S.NO</th>
              <th>DEPARTMENT</th>
              
            </tr>
            <tr align="center" style="color:white">
              <td>1</td>
              <td><a href="/views/open_elective" >COMPUTER SCIENCE AND ENGINEERING</a></td>
            </tr>
            <tr align="center" style="color:white">
              <td>2</td>
              <td><a href="#" >INFORMATION TECHNOLOGY</a></td>
              
            </tr>
            <tr align="center" style="color:white">
                <td>3</td>
                <td><a href="#" >ELECTRONICS AND COMMUNICATION ENGINEERING</a></td>
                
              </tr>
              <tr align="center" style="color:white">
                <td>4</td>
                <td><a href="#" ></a></td>
                
              </tr>
              <tr align="center" style="color:white">
                <td>5</td>
                <td><a href="" ></a></td>
                
              </tr>
            </tr>
            <tr align="center" style="color:white">
              <td>5</td>
              <td><a href="#" ></a></td>
              
            </tr>
          </tr>
          <tr align="center" style="color:white">
            <td>5</td>
            <td><a href="#" ></a></td>
            
          </tr>
        </tr>
        <tr align="center" style="color:white">
          <td>5</td>
          <td><a href="#" ></a></td>
          
        </tr>
          </table>
        </div>
    </div>
</body>
</html>