<!DOCTYPE html>
<html lang="en">

{{!-- {{> header }} --}}
<head>
    <title>Home Page</title>
    <base href="/">
    <link rel="stylesheet" href="/css/sample.css" />
</head>
<body>
    <div class="full-page1">
        <div class="navbar">
            <div>
                <label style="color:white"><h2>KEC Elective Course Picker</h2></label>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='#'>About</a></li>
                    <li><a href='#'>Contact Us</a></li>
                    <li><div>
                <a href="/login">Log Out</a>
            </div></li>
                </ul>
            </nav>
        </div>
  
        <div style="position:absolute;top:50%;left:35%; ">
                   
            <label class="lab_fill">
            <a href="/profElective">
                 PROFESSIONAL ELECTIVE</a></label>
            <label class="lab_fill">
            <a href="/open_elective">
                  OPEN ELECTIVE </a>
                        </label>
        </div>
    </div>
</body>
</html>