<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/sample.css">
    <script src="sample.js"></script>
</head>
<body>
    <!-- <h1>hello</h1> -->
    <!-- <div class="full-page">
        <div class="navbar">
            <div id="heading">
                <a style="color:white;">KEC Elective Course Picker</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='https://kongu.ac.in/index.php' target="_blank">About</a></li>
                    <li><a href='https://kongu.ac.in/contact.php' target="_blank">Contact Us</a></li>
                    <li><button class='logoutbtn' onclick="logout()" style="width:auto;">Log Out</button></li>
                </ul>
            </nav>
        </div>
        <div id='login-form'class='login-page'>
            <div>
                <div >
                    <h1><b>COMPUTER SCIENCE AND ENGINEERING</b></h1>
                    <table>
                            <tr>
                                <td >d</td>
                                <td >d</td>
                                <td >d</td>
                            </tr> -->
                            <!-- <tr>
                                <td id="SNo2">d</td>
                                <td id="courseTwo">d</td>
                                <td id="vaccancy2">d</td>
                            </tr>
                            <tr>
                                <td id="SNo3">d</td>
                                <td id="courseThree">d</td>
                                <td id="vaccancy3">d</td>
                            </tr>
                            <tr >
                                <td id="SNo4">d</td>
                                <td id="courseFour">d</td>
                                <td id="vaccancy4">d</td>
                            </tr>
                            <tr>
                                <td id="SNo5">d</td>
                                <td id="courseFive">d</td>
                                <td id="vaccancy5"5>d</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> -->
    <div class="full-page">
        <div class="navbar">
            <div>
              <h1 id="heading" style="color:'white'">KEC Elective Course Picker</h1>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='#'>About</a></li>
                    <li><a href='#'>Contact Us</a></li>
                    <li><div><a href="/login">Log Out</a></div></li>
                </ul>
            </nav>
        </div>
                    <center><h4 id="decorate"><b>COMPUTER SCIENCE AND ENGINEERING</b></h4></center>
                    <div class="formforcourse">
                      <table style width="100%" style="color:white">
                        <tr style="color:white" height="40">
                          <th >S.NO</th>
                          <th>COURSES</th>
                          <th >TOTAL COUNT</th>
                        </tr>
                        <tr align="center" style="color:white" height="40">
                          <td>1</td>
                          <td><a href="/web" >Web technology</a></td>
                          <td>100</td>
                        </tr>
                        <tr align="center" style="color:white" height="40">
                          <td>2</td>
                          <td><a href="" >DATA SCIENCE</a></td>
                          <td>100</td>
                        </tr>
                        <tr align="center" style="color:white" height="40">
                            <td>3</td>
                            <td><a href="" >VIRTUAL REALITY</a></td>
                            <td>100</td>
                          
                          </tr>
                          <tr align="center" style="color:white" height="40">
                            <td>4</td>
                            <td>  <a href="#">DESIGN AND INNOVATION</a></td>
                            <td>100</td>
                          </tr>
                          <tr align="center" style="color:white" height="40">
                            <td>5</td>
                            <td><a href="">COMPILER DESIGN</a></td>
                            <td>100</td>
                          </tr>
                      </table>
                    </div>
        <!-- <div id='login-form'class='login-page'>
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type="button"onclick="login()"class="toggle-btn"><b>Professional Elective</b></button>
                    <button type="button"onclick="register()"class="toggle-btn"><b>Open Elective</b></button>
                </div> -->
                <!-- <div class='Intro_page'>
                    <div id='courses'></div>
                    <button type="button"onclick=""class="toggle-btn"><b>Professional Elective</b></button>
                    <button type="buttSnapchat-108636674.jpgon"onclick="register()"class="toggle-btn"><b>Open Elective</b></button>
                </div> -->
        <!-- <form id='login' class='input-group-login'>
            <input type='text'class='input-field'placeholder='Enter Roll no' required >
            <input type='password'class='input-field'placeholder='Enter DOB' required>
            <input type='checkbox'class='check-box'><span>Remember Password</span>
            <button type='submit'class='submit-btn'>Log in</button>
        </form>
         <form id='register' class='input-group-login'>
             <input type='text'class='input-field'placeholder='Enter Admin ID' required >
            <input type='password'class='input-field'placeholder='Enter Password' required>
             <input type='checkbox'class='check-box'><span>Remember Password</span>
            <button type='submit'class='submit-btn'>Log in</button>
             </form> -->
            <!-- </div>
        </div> -->
    </div>
</body>
</html>