<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/sample.css">
    <script src="sample.js"></script>
</head>
<body>
    
    <div class="full-page">
        <div class="navbar">
            <div>
                <h1 style="color: white;">KEC Elective Course Picker</h1>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='#'>About</a></li>
                    <li><a href='#'>Contact Us</a></li>
                    <li><button class='logoutbtn' onclick="window.open('/login')" style="width:auto;">Log Out</button></li>
                </ul>
            </nav>
        </div>
                    <center><h4 style="color:white;"><b>COMPUTER SCIENCE AND ENGINEERING</b></h4></center>
                    <div class="formforcourse">
                    <table style width="100%" style="color:white;">
                            <tr align="center" style="color:white;">
                                <td >d</td>
                                <td >d</td>
                                <td >d</td>
                            </tr>
                            <tr align="center" style="color:white";>
                                <td id="SNo2">d</td>
                                <td id="courseTwo">d</td>
                                <td id="vaccancy2">d</td>
                            </tr>
                            <tr align="center" style="color:white;">
                                <td id="SNo3">d</td>
                                <td id="courseThree">d</td>
                                <td id="vaccancy3">d</td>
                            </tr>
                            <tr align="center" style="color:white;">
                                <td id="SNo4">d</td>
                                <td id="courseFour">d</td>
                                <td id="vaccancy4">d</td>
                            </tr>
                            <tr align="center" style="color:white;">
                                <td id="SNo5">d</td>
                                <td id="courseFive">d</td>
                                <td id="vaccancy5"5>d</td>
                            </tr>
                    </table>
                    </div>
    </div>
</body>
</html>