<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/sample.css">
    <script src="sample.js"></script>
</head>
<body>
<div class="full-page">
    <div >
        <div class="navbar">
            <div>
              <h1 style="color:white">KEC Elective Course Picker</h1>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='https://kongu.ac.in/index.php' target="_blank">About</a></li>
                    <li><a href='https://kongu.ac.in/contact.php' target="_blank">Contact Us</a></li>
                    <li><button class='logoutbtn' onclick="window.open('sample.html')" style="width:auto;">Log Out</button></li>
                </ul>
            </nav>
        </div>
       
    </div><h3 margin="200px" align ="center" style="color:white">COMPUTER SCIENCE AND ENGINEERING</h2>
    <div class="formforcourse">
      <h3 margin="100px" align ="center" style="color:white">WEB TECHNOLOGY - 21CDT02</h3>
     <p class="content" align ="justify" style="color:white"><br>Web Technology refers to the various tools and techniques that are utilized in the process of communication between different types of devices over the internet. A web browser is used to access web pages. Web browsers can be defined as programs that display text, data, pictures, animation, and video on the Internet.</p>
   
     <justify>
      <div>
     <input  style="color:white" type="radio" id="" name="faculty" value="100">
     <label  class="opt" style="color:white" for="faculty1">Ms.K.Venu</label>
     <label  class="count"   id="count1" style="color:black" for="count1">25</label>
    </div>
    <div>
     <input  style="color:white" type="radio" id="" name="faculty" value="100">
     <label  class="opt" style="color:white" for="faculty2">Ms.C.Sagana</label>
     <label  class="count" id="count2" style="color:black" for="count2">25</label>
    </div>
    <div>
     <input  style="color:white" type="radio" id="" name="faculty" value="100">
     <label  class="opt" style="color:white" for="faculty3">Mr.H.Ram</label>
     <label  class="count" id="count3" style="color:black" for="count3">25</label>
    </div>
    <div>
     <input  style="color:white" type="radio" id="" name="faculty" value="100">
     <label  class="opt" style="color:white" for="faculty4">Mr.S.K.Karthick</label>
     <label  class="count" id="count4" style="color:black" for="count4">25</label>
    </div>
     <button type='submit'class='web1' onclick="web()">SUBMIT</button>
  </justify>
   </div>
</div>
</body>
</html>